[Unit]
Description=Go online the fdu network
After=network.target

[Service]
Type=oneshot
User=nobody
ExecStart=/usr/bin/go-network -c /etc/go-network/config.json

[Install]
WantedBy=multi-user.target